#### REPORTING AND ANALYTICS: AIR QUALITY DATA

## INTRODUCTION
The Air Quality Index (AQI) is used for reporting daily air quality. It tells you how clean or polluted your air is, and what associated health effects might be a concern for you. The AQI focuses on health effects you may experience within a few hours or days after breathing polluted air.

**Question**
- How does East Africa compare to the rest of Africa relative to AQI?
- How is the distribution of Countries by Status?

##### 1. OBTAIN
here:
- we get the dataset
- we establish data sources

Data source
- https://www.kaggle.com/datasets/azminetoushikwasi/aqi-air-quality-index-scheduled-daily-update?resource=download

In [4]:
# import the libraries
import pandas as pd
import numpy as np
#read the dataset
df = pd.read_csv("data/air_quality.csv")

In [5]:
# inspect the header
df.head()

         Date    Country                          Status  AQI Value
0  2022-07-21    Albania                            Good         14
1  2022-07-21    Algeria                        Moderate         65
2  2022-07-21    Andorra                        Moderate         55
3  2022-07-21     Angola  Unhealthy for Sensitive Groups        113
4  2022-07-21  Argentina                        Moderate         63

In [6]:
# inspect the tail
df.tail()

             Date     Country                          Status  AQI Value
15564  2024-10-10  Uzbekistan                        Moderate         63
15565  2024-10-10     Vatican                            Good         38
15566  2024-10-10   Venezuela                            Good          6
15567  2024-10-10     Vietnam  Unhealthy for Sensitive Groups        111
15568  2024-10-10      Zambia  Unhealthy for Sensitive Groups        138

##### 2. SCRUB
Is the data:
- Complete/asses gaps in data
- Has missing values
- Consistency
- Data Integrity/ uniformity
- Repeating values

In [8]:
# get the information from the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15569 entries, 0 to 15568
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       15569 non-null  object
 1   Country    15569 non-null  object
 2   Status     15569 non-null  object
 3   AQI Value  15569 non-null  int64
dtypes: int64(1), object(3)
memory usage: 486.7+ KB

 - There no missing values
 - The column data types are good but:
 - The date column should be transformed to date-type object

In [10]:
# transform the date column
df["Date"] = pd.to_datetime(df["Date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15569 entries, 0 to 15568
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       15569 non-null  datetime64[ns]
 1   Country    15569 non-null  object
 2   Status     15569 non-null  object
 3   AQI Value  15569 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 486.7+ KB

In [11]:
# check for duplicates
duplicates = df[df.duplicated(keep = False)]
len(duplicates)

588

- The *duplicated()* returns a boolean Series object indicating whether each row is a duplicate
- By setting *keep*=False, all duplicate rows will be set to True/1.

In [13]:
# original dataset
df.shape

(15569, 4)

In [14]:
# duplicated values
bad_df = df[df.duplicated(keep = False)]
bad_df

            Date     Country                          Status  AQI Value
1     2022-07-21     Algeria                        Moderate         65
10    2022-07-21  Bangladesh  Unhealthy for Sensitive Groups        141
18    2022-07-21      Brunei                            Good         15
21    2022-07-21    Cambodia                            Good         15
34    2022-07-21     Denmark                            Good         36
...          ...         ...                             ...        ...
13247 2024-06-06  Uzbekistan                            Good         21
13248 2024-06-06     Vatican                            Good         25
13249 2024-06-06   Venezuela                            Good         10
13250 2024-06-06     Vietnam                        Moderate         63
13251 2024-06-06      Zambia  Unhealthy for Sensitive Groups        140

[588 rows x 4 columns]

In [15]:
# create a dataframe that are going stores non duplicated values
good_df = df[~df.duplicated(keep = False)]
good_df

            Date     Country                          Status  AQI Value
0     2022-07-21     Albania                            Good         14
2     2022-07-21     Andorra                        Moderate         55
3     2022-07-21      Angola  Unhealthy for Sensitive Groups        113
4     2022-07-21   Argentina                        Moderate         63
5     2022-07-21     Armenia                        Moderate         76
...          ...         ...                             ...        ...
15564 2024-10-10  Uzbekistan                        Moderate         63
15565 2024-10-10     Vatican                            Good         38
15566 2024-10-10   Venezuela                            Good          6
15567 2024-10-10     Vietnam  Unhealthy for Sensitive Groups        111
15568 2024-10-10      Zambia  Unhealthy for Sensitive Groups        138

[14981 rows x 4 columns]

In [16]:
# # dataset without duplicates
# good_df = df.drop_duplicates(keep = False)
# good_df.shape

In [17]:
# generate a clean csv of air quality data
good_df.to_csv('data/good_air_quality.csv', index = False, header = True)

In [18]:
# generate duplicated csv
bad_df.to_csv('data/bad_air_quality.csv', index = False, header = True)

In [19]:
np.min(good_df["Date"])

Timestamp('2022-07-21 00:00:00')

##### 3. EXPLORE
Your exploration is supported by visualization/ tabulation/ summaries:
What to explore:

- **Tabulation**:
Show totals of broad quantities

- **Summary Statistics**
Describe the characteristics of data (mean, median, std, quartiles)

- **Spread of data**
How is the data dispersed (scatter plots - visual inspection of outliers)

- **Distribution of major variables**
Histogram of singular variables

- **Heatmaps of major variables**
- **Proportions of major variables**

In [21]:
good_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14981 entries, 0 to 15568
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       14981 non-null  datetime64[ns]
 1   Country    14981 non-null  object
 2   Status     14981 non-null  object
 3   AQI Value  14981 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 585.2+ KB

In [22]:
# bar chart representation of the unhealthy for Sensitive groups
# status_dist = good_df["Status"].value_counts()
# status_dist
# fig = px.bar(status_dist, title = "Distribution of Countries by Status", 
#              labels = {"value":"Number of Countries", "Status":"Air Quality Status"}, 
#              color = status_dist.index)
# fig.show()

In [23]:
# filter out east_african country and get the Air Quality Value compared to the rest of the world
East_african_df = good_df["Country"].isin(["Kenya", "Uganda", "Tanzania", "Rwanda", "Burundi", "South Sudan", "Ethiopia","Somalia","Djibouti"]).value_counts()
East_african_df

Country
False    14646
True       335
Name: count, dtype: int64

In [24]:
# check for east_africa data
East_Countries =["Kenya", "Uganda", "Tanzania", "Rwanda", "Burundi", "South Sudan", "Ethiopia","Somalia","Djibouti"]
East_african_df = good_df[good_df["Country"].isin(East_Countries)]
East_african_df

            Date   Country                          Status  AQI Value
40    2022-07-21  Ethiopia                       Unhealthy        165
71    2022-07-21     Kenya                            Good         40
132   2022-07-21    Uganda                       Unhealthy        198
182   2022-07-21  Ethiopia                       Unhealthy        161
213   2022-07-21     Kenya                            Good         42
...          ...       ...                             ...        ...
15377 2024-10-03     Kenya                            Good         41
15431 2024-10-03    Uganda                       Unhealthy        153
15476 2024-10-10  Ethiopia                        Moderate         65
15503 2024-10-10     Kenya                        Moderate         93
15559 2024-10-10    Uganda  Unhealthy for Sensitive Groups        109

[335 rows x 4 columns]

In [25]:
# # bar chart that shows AQI value in east african countries 
# fig = px.bar(East_Countries, title = "East African Countries by Status", 
#              labels = {"value":"Number of Countries", "Status":"Air Quality Status"}, 
#              color = East_Countries.index)
# fig.show()

**Auxilliary datasets to explain:
-  How AQI affects a country's Population
-  How The AQI of a country affect its GDP**

In [27]:
# additional associations
Africa_df = pd.read_csv('data/Data_Africa.csv')
Africa_df.head()

   ID  Year Country    Continent  Population      GDP (USD)
0   1  2000  Uganda  East Africa     23303189  6.193247e+09
1   2  2001  Uganda  East Africa     24022603  5.840504e+09
2   3  2002  Uganda  East Africa     24781316  5.840504e+09
3   4  2003  Uganda  East Africa     25577246  6.606884e+09
4   5  2004  Uganda  East Africa     26403221  7.939488e+09

In [28]:
# chech for missing values and datatypes
Africa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1334 entries, 0 to 1333
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           1334 non-null   int64
 1   Year         1334 non-null   int64
 2   Country      1334 non-null   object
 3   Continent    1334 non-null   object
 4   Population   1334 non-null   int64
 5   GDP (USD)    1179 non-null   float64
dtypes: float64(1), int64(3), object(2)
memory usage: 62.7+ KB

In [29]:
# Filtering Year by 2022
Africa_df = Africa_df[Africa_df["Year"] == 2022]
Africa_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 22 to 1333
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           58 non-null     int64
 1   Year         58 non-null     int64
 2   Country      58 non-null     object
 3   Continent    58 non-null     object
 4   Population   58 non-null     int64
 5   GDP (USD)    51 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 3.2+ KB

In [30]:
# Replace the missing values with 0
Africa_df["GDP (USD)"].fillna(0, inplace = True)
Africa_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 22 to 1333
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           58 non-null     int64
 1   Year         58 non-null     int64
 2   Country      58 non-null     object
 3   Continent    58 non-null     object
 4   Population   58 non-null     int64
 5   GDP (USD)    58 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 3.2+ KB

In [31]:
# drop the unnecessary columns
Africa_df.drop(columns= ["ID", "Year"], axis = 1, inplace = True)
Africa_df.head()

      Country    Continent  Population      GDP (USD)
22     Uganda  East Africa     47992685  4.555920e+10
45    Burundi  East Africa     12504404  3.073415e+09
68   Djibouti  East Africa      1007062  3.515109e+09
91     Zambia  East Africa     19244849  2.978445e+10
114  Zimbabwe  East Africa     15412353  2.067806e+10

In [32]:
# reset the index
Africa_df.reset_index(drop = True, inplace = True)
Africa_df

,Country,Continent,Population,GDP (USD)
0,Uganda,East Africa,47992685,4.555920e+10
1,Burundi,East Africa,12504404,3.073415e+09
2,Djibouti,East Africa,1007062,3.515109e+09
3,Zambia,East Africa,19244849,2.978445e+10
4,Zimbabwe,East Africa,15412353,2.067806e+10
5,Kenya,East Africa,56031570,1.134200e+11
6,Union of the Comors,East Africa,902348,1.242519e+09
7,Mauritius,East Africa,1280936,1.289831e+10
8,Madagascar,East Africa,28876295,1.495497e+10
9,Mayotte,East Africa,284743,0.000000e+00
10,Malawi,East Africa,20053121,1.316467e+10
11,Mozambique,East Africa,32560330,1.785149e+10
12,Reunion,East Africa,905120,0.000000e+00
13,Rwanda,East Africa,13412558,1.331280e+10
14,Seyshelles,East Africa,99449,1.588406e+09
15,Somalia,East Africa,16419535,8.126106e+09
16,Tanzania,East Africa,62649363,7.570929e+10
17,Eritrea,East Africa,3676489,0.000000e+00
18,Ethiopia,East Africa,119346275,1.267835e+11
19,South Sudan,East Africa,12054642,0.000000e+00
20,Sudan,North Africa,45225449,5.166224e+10
21,Algeria,North Africa,45137119,1.919129e+11
22,Egypt,North Africa,105838455,4.767477e+11
23,SADR,North Africa,616540,0.000000e+00
24,Libya,North Africa,6830087,4.575234e+10
25,Morocco,North Africa,37701643,1.341816e+11
26,Tunisia,North Africa,12022316,4.666495e+10
27,Botswana,South Africa,2421458,2.035232e+10
28,Lesotho,South Africa,2185368,2.553460e+09
29,Namibia,South Africa,2633918,1.260744e+10
30,Eswatini,South Africa,1201670,4.854168e+09
31,South Africa,South Africa,60216602,4.058697e+11
32,Angola,Central Africa,34511514,1.067136e+11
33,Gabon,Central Africa,2299110,2.107174e+10
34,Cameroon,Central Africa,27543748,4.434165e+10
35,Democratic Republic of the Congo,Central Africa,93852092,5.806595e+10
36,Republic of the Congo,Central Africa,5731375,1.461553e+10
37,Sao Tome and Principe,Central Africa,226575,5.466803e+08
38,Central African Republic,Central Africa,4976146,2.382619e+09
39,Chad,Central Africa,17274363,1.270415e+10
40,Equatorial Guinea,Central Africa,1462408,1.181391e+10
41,Benin,West Africa,12614586,1.740175e+10
42,Burkina Faso,West Africa,21840865,1.888462e+10
43,Gambia,West Africa,2539001,2.273061e+09
44,Ghana,West Africa,32235099,7.283880e+10
45,Guinea,West Africa,13662711,2.122775e+10
46,Guinea-Bissau,West Africa,2039724,1.633559e+09
47,Cape Verde,West Africa,566252,2.314817e+09
48,Ivory Coast,West Africa,27314589,0.000000e+00
49,Liberia,West Africa,5258865,4.001047e+09
50,Mauritania,West Africa,4818970,1.037546e+10
51,Mali,West Africa,21159041,1.882718e+10
52,Niger,West Africa,25693114,1.396961e+10
53,Nigeria,West Africa,214568727,4.773861e+11
54,"Saint Helena, Ascension and Tristan da Cunha",West Africa,6112,0.000000e+00
55,Senegal,West Africa,17559867,2.768443e+10
56,Sierra Leone,West Africa,8249189,3.970344e+09
57,Togo,West Africa,8623451,8.126439e+09

In [33]:
# On our good_df, we'll Filter Date by 2022 and get similar country records
good_df.head()

        Date    Country                          Status  AQI Value
0 2022-07-21    Albania                            Good         14
2 2022-07-21    Andorra                        Moderate         55
3 2022-07-21     Angola  Unhealthy for Sensitive Groups        113
4 2022-07-21  Argentina                        Moderate         63
5 2022-07-21    Armenia                        Moderate         76

In [34]:
# access Country columns in the Africa_df
Africa_good_df = good_df[good_df["Country"].isin(Africa_df["Country"])]
Africa_good_df

,Date,Country,Status,AQI Value
3,2022-07-21,Angola,Unhealthy for Sensitive Groups,113
20,2022-07-21,Burkina Faso,Unhealthy for Sensitive Groups,118
23,2022-07-21,Cape Verde,Good,43
25,2022-07-21,Central African Republic,Unhealthy,156
26,2022-07-21,Chad,Moderate,59
...,...,...,...,...
15538,2024-10-10,Reunion,Good,7
15546,2024-10-10,South Africa,Moderate,87
15555,2024-10-10,Togo,Good,2
15559,2024-10-10,Uganda,Unhealthy for Sensitive Groups,109
15568,2024-10-10,Zambia,Unhealthy for Sensitive Groups,138

In [35]:
# extract the year in Africa_good_df
Africa_good_df["year"] = Africa_good_df["Date"].dt.year
Africa_good_df

C:\Users\Hp\AppData\Local\Temp\ipykernel_19352\1941060994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Africa_good_df["year"] = Africa_good_df["Date"].dt.year

,Date,Country,Status,AQI Value,year
3,2022-07-21,Angola,Unhealthy for Sensitive Groups,113,2022
20,2022-07-21,Burkina Faso,Unhealthy for Sensitive Groups,118,2022
23,2022-07-21,Cape Verde,Good,43,2022
25,2022-07-21,Central African Republic,Unhealthy,156,2022
26,2022-07-21,Chad,Moderate,59,2022
...,...,...,...,...,...
15538,2024-10-10,Reunion,Good,7,2024
15546,2024-10-10,South Africa,Moderate,87,2024
15555,2024-10-10,Togo,Good,2,2024
15559,2024-10-10,Uganda,Unhealthy for Sensitive Groups,109,2024
15568,2024-10-10,Zambia,Unhealthy for Sensitive Groups,138,2024

In [36]:
# Filter By year 2022
Africa_good_df = Africa_good_df[Africa_good_df["year"]== 2022]
Africa_good_df

,Date,Country,Status,AQI Value,year
3,2022-07-21,Angola,Unhealthy for Sensitive Groups,113,2022
20,2022-07-21,Burkina Faso,Unhealthy for Sensitive Groups,118,2022
23,2022-07-21,Cape Verde,Good,43,2022
25,2022-07-21,Central African Republic,Unhealthy,156,2022
26,2022-07-21,Chad,Moderate,59,2022
...,...,...,...,...,...
9961,2022-09-22,Reunion,Good,18,2022
9974,2022-09-22,Sudan,Moderate,61,2022
9980,2022-09-22,Togo,Moderate,54,2022
9984,2022-09-22,Uganda,Moderate,75,2022
9993,2022-09-22,Zambia,Unhealthy,161,2022

In [37]:
Africa_good_df.drop(columns = ["year"],  inplace = True)
Africa_good_df

C:\Users\Hp\AppData\Local\Temp\ipykernel_19352\3482681826.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Africa_good_df.drop(columns = ["year"],  inplace = True)

,Date,Country,Status,AQI Value
3,2022-07-21,Angola,Unhealthy for Sensitive Groups,113
20,2022-07-21,Burkina Faso,Unhealthy for Sensitive Groups,118
23,2022-07-21,Cape Verde,Good,43
25,2022-07-21,Central African Republic,Unhealthy,156
26,2022-07-21,Chad,Moderate,59
...,...,...,...,...
9961,2022-09-22,Reunion,Good,18
9974,2022-09-22,Sudan,Moderate,61
9980,2022-09-22,Togo,Moderate,54
9984,2022-09-22,Uganda,Moderate,75
9993,2022-09-22,Zambia,Unhealthy,161

In [77]:
# merge two dataframes
Population_df = pd.merge(Africa_good_df, Africa_df, on = "Country")
Population_df

,Date,Country,Status,AQI Value,Continent,Population,GDP (USD)
0,2022-07-21,Angola,Unhealthy for Sensitive Groups,113,Central Africa,34511514,1.067136e+11
1,2022-07-21,Angola,Unhealthy,152,Central Africa,34511514,1.067136e+11
2,2022-07-22,Angola,Unhealthy for Sensitive Groups,110,Central Africa,34511514,1.067136e+11
3,2022-07-22,Angola,Unhealthy for Sensitive Groups,134,Central Africa,34511514,1.067136e+11
4,2022-07-22,Angola,Unhealthy for Sensitive Groups,126,Central Africa,34511514,1.067136e+11
...,...,...,...,...,...,...,...
1556,2022-09-17,South Africa,Moderate,83,South Africa,60216602,4.058697e+11
1557,2022-09-18,South Africa,Moderate,83,South Africa,60216602,4.058697e+11
1558,2022-09-19,South Africa,Moderate,83,South Africa,60216602,4.058697e+11
1559,2022-09-20,South Africa,Moderate,83,South Africa,60216602,4.058697e+11
1560,2022-09-21,South Africa,Moderate,83,South Africa,60216602,4.058697e+11

##### 4. MODELLING
Are there any statistical associations that can be used to summarize the behavior of the dataset?

##### 5. INTERPRETATION
Here you provide your understanding informed by the prior analysis.